.imagemrick
{
        width: 25%}

        .corpao {
                background-image:linear-gradient(blue, green);
        }

.loucura{
        background-image: linear-gradient(green,blue);}

h1 {
        text-align: center; 
  }

h2{
        background-color: azure;}

p{
        font-size: 18px;}

.paragrafo1{
        font-size: 30px;}

.paragrafosteste{
        font-size: 16px;}

.lista{display: inline-block;
        margin: 0 16px;
}